.parent {
  display: flex;
  flex-direction: row;
  height: 1500px;
  justify-content: center;
}

.child {
  margin: 1px;
  width: 200px;
  height: 200px;
  background-color: red;
  flex: 1;
}

.child:last-child {
  flex-grow: 1;
  flex-shrink: 5;
  flex-basis: 20%;
}
